<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="core_layout_render_element">
        <observer name="swatch_localization_remove_lastname_in_register_form" instance="Swatch\Localization\Observer\RemoveLastnameInRegisterForm" />
    </event>
</config>