<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Swatch_Content::main" title="Swatch Content" translate="true" sortOrder="50">
                    <resource id="Swatch_Content::import" title="Imports" translate="true" sortOrder="10"/>
                    <resource id="Swatch_Content::upload" title="Upload files" translate="true" sortOrder="20"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Swatch_Content::config_import" title="Swatch Imports " sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>