<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Swatch\ManageLabel\Api\TranslateRepositoryInterface" type="Swatch\ManageLabel\Model\TranslateRepository" />
	<preference for="Swatch\ManageLabel\Api\Data\TranslateInterface" type="Swatch\ManageLabel\Model\Translate" />
	<preference for="Swatch\ManageLabel\Api\Data\TranslateSearchResultsInterface" type="Swatch\ManageLabel\Model\TranslateSearchResults" />

	<type name="Magento\Translation\Model\ResourceModel\Translate">
		<plugin name="labelTranslatePlugin" type="Swatch\ManageLabel\Plugin\TranslatePlugin" sortOrder="100"></plugin>
	</type>
	<type name="Swatch\ManageLabel\Model\ResourceModel\Translate">
		<arguments>
			<argument name="config" xsi:type="array">
				<item name="sectionRollbackDefault" xsi:type="string">all_pages</item>
			</argument>
		</arguments>
	</type>
</config>
